BasedOnStyle: Google

BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
DerivePointerAlignment: false
IncludeBlocks: Preserve
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman 
UseTab: Always
NamespaceIndentation: All
